/* Главный цвет */
$primeColor: #4d539c;

/* Цвет текста */
$textColor: #000;

/* Верхняя панель в разделах */
$top-panel--height: 40px;
$top-panel--brandHeight: 20px;

/* Стандартный размер шрифта */
$fontsize: 16px;

/* CDN */
$imgCDN: 'https://aw-cdn.blyat.science';
