fieldset.rm-air
	legend Удалить последний эфир из расписания
	p
		span Последний эфир: #[samp.info]
	p
		label(for='rm_air_cnf') Вы точно этого хотите?
		input#rm_air_cnf(name='rm_air_cnf' type='checkbox' required)
	p.submit
		input(name='rm_air' type='submit' value='Удалить')
