- const title = 'nyan.stream'
- const domain = 'nyan.stream'
- const URLs = { same: `https://${domain}`, favicon: `${PATHS.img}/favicon.png` }
- const libsVer = { moment: { same: { v: '2.20.1', sri: 'sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=', sriLocale: 'sha256-WH6PQxV/ORn7kKECfxITT6hr85NIL9wED+DUH2f0iwc=' }, timezone: { v: '0.5.14', sri: 'sha256-FJZOELgwnfQRdG8KZUSWCYgucECDf4w5kfQdQSGbVpI=' } } }
