- const title = 'Asian Wave'
- const domain = 'asianwave.ru'
- const description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- const URLs = { same: `https://${domain}`, favicon: `${PATHS.img}/favicon.png`, manifest: '/.webmanifest', sitemap: '/sitemap.php', donate: '/rdr--donate', vk: 'https://vk.com/public120842574', requests: { anime: 'https://vk.com/topic-120842574_34298486', radio: 'https://vk.com/topic-120842574_33906364' }, chat: 'https://asianwaveru.chatovod.ru' }
- const libsVer = { baloon: '0.5.0', moment: { same: '2.20.1', timezone: '0.5.14' }, isMobile: '0.4.1' }
